<table>
  <thead>
    <tr>
      <th>Müşteri Sipariş No</th>
      <th>Çıkış Adresi</th>
      <th>Varış Adresi</th>
      <th>Miktar</th>
      <th>Miktar Birimi</th>
      <th>Ağırlık</th>
      <th>Ağırlık Birimi</th>
      <th>Malzeme Kodu</th>
      <th>Malzeme Adı</th>
      <th>Not</th>
      <th>Statü</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders">
      <td>{{ order.orderNumber }}</td>
      <td>{{ order.departureAddress }}</td>
      <td>{{ order.arrivalAddress }}</td>
      <td>{{ order.quantity }}</td>
      <td>{{ order.quantityUnit }}</td>
      <td>{{ order.weight }}</td>
      <td>{{ order.weightUnit }}</td>
      <td>{{ order.materialCode }}</td>
      <td>{{ order.materialName }}</td>
      <td>{{ order.note }}</td>
      <td>{{ order.status }}</td>
      <td><button (click)="editStatus(order)">Düzenle</button></td>
    </tr>
  </tbody>
</table>